<h2>All Movies You've Watched</h2>
<table>
   <tr>
   <% for movie in @all_movies %>
    <td><a href="/movies/<%=movie.id%>"> <%=movie.movie_name%> </a> </td></td>
    <% end %>
  </tr>
</table>
<a href="/movies/new">Add a movie you've watched</a>
<br/><br/><hr/>

<h2>Movies recently watched by your friends</h2>
<table>
<tr>
<td class="movie_image"><%= image_tag "frozen.jpg" %></td>
<td class="space"></td>
<td class="movie_image"><%= image_tag "fifty_shades_of_grey.jpg" %></td>
<td class="space"></td>
<td class="movie_image"><%= image_tag "the_wolf_of_wall_street.jpg" %></td>
<td class="space"></td>
<td class="movie_image"><%= image_tag "hot_tub_time_machine_2.jpg" %></td>
<td class="space"></td>
<td class="movie_image"><%= image_tag "american_sniper.jpg" %></td>
<td class="space"></td>
<td class="movie_image"><%= image_tag "the_imitation_game.jpg" %></td>
</tr>
<tr>
<td class="movie_link"><a href="/movies/7">Frozen</td></a>
<td class="space"></td>
<td class="movie_link"><a href="/movies/1">Fifty Shades of Grey</a></td>
<td class="space"></td>
<td class="movie_link"><a href="/movies/6">The Wolf of Wall Street</a></td>
<td class="space"></td>
<td class="movie_link"><a href="/movies/3">Hot Tub Time Machine 2</a></td>
<td class="space"></td>
<td class="movie_link"><a href="/movies/4">American Sniper</a></td>
<td class="space"></td>
<td class="movie_link"><a href="/movies/10">The Imitation Game</a></td>
</tr>
</table><br/><hr/>

<h2>Currently in Theatres</h2>
<table>
<tr>
<td class="movie_image"><%= image_tag "fifty_shades_of_grey.jpg" %></td>
<td class="space"></td>
<td class="movie_image"><%= image_tag "kingsman_the_secret_service.jpg" %></td>
<td class="space"></td>
<td class="movie_image"><%= image_tag "hot_tub_time_machine_2.jpg" %></td>
<td class="space"></td>
<td class="movie_image"><%= image_tag "american_sniper.jpg" %></td>
<td class="space"></td>
<td class="movie_image"><%= image_tag "mcfarland_usa.jpg" %></td>
</tr>
<tr>
<td class="movie_link"><a href="/movies/1">Fifty Shades of Grey</a></td>
<td class="space"></td>
<td class="movie_link"><a href="/movies/2">Kingsman: The Secret Service</a></td>
<td class="space"></td>
<td class="movie_link"><a href="/movies/3">Hot Tub Time Machine 2</a></td>
<td class="space"></td>
<td class="movie_link"><a href="/movies/4">American Sniper</a></td>
<td class="space"></td>
<td class="movie_link"><a href="/movies/5">McFarland, USA</a></td>
</tr>
</table>
<br/><hr/>

<h2>Most Popular This Month</h2>
<table>
<tr>
<td class="movie_image"><%= image_tag "the_wolf_of_wall_street.jpg" %></td>
<td class="space"></td>
<td class="movie_image"><%= image_tag "frozen.jpg" %></td>
<td class="space"></td>
<td class="movie_image"><%= image_tag "american_hustle.jpg" %></td>
<td class="space"></td>
<td class="movie_image"><%= image_tag "man_of_steel.jpg" %></td>
<td class="space"></td>
<td class="movie_image"><%= image_tag "the_imitation_game.jpg" %></td>
</tr>
<tr>
<td class="movie_link"><a href="/movies/6">The Wolf of Wall Street</a></td>
<td class="space"></td>
<td class="movie_link"><a href="/movies/7">Frozen</td></a>
<td class="space"></td>
<td class="movie_link"><a href="/movies/8">American Hustle</a></td>
<td class="space"></td>
<td class="movie_link"><a href="/movies/9">Man of Steel</a></td>
<td class="space"></td>
<td class="movie_link"><a href="/movies/10">The Imitation Game</a></td>
</tr>
</table>
<br/><hr/>
