<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <title> Movie Hub </title>
  </head>
  <body>
      <div class="header">
      <% if session[:name] == nil %>
         <table>
          <tr>
          <td><a href="/home">Home</a></td>
          <td class="nav_bar_space"></td>
          <td><a href="/users/profile">Profile</a></td>
          <td class="nav_bar_space"></td>
          <td><a href="/users/recommendations">Our Recommendations</a></td>
          <td class="nav_bar_space"></td>
          <td><a href="/earn">Get Ad Points</a></td>
          <td class="nav_bar_space"></td>
          <td><a href="/movies/searchForm">Search for movies</a></td>
          <td class="nav_bar_space"></td>
          <td><a href="/users/login">Login</a></td>
          </tr>
        </table>
      <% else %>
        <p> Hi <%= session[:name] %>! </p>
        <table>
          <tr>
          <td><a href="/users/<%=session[:id]%>">Home</a></td>
          <td class="nav_bar_space"></td>
          <td><a href="/users/profile">Profile</a></td>
          <td class="nav_bar_space"></td>
          <td><a href="/users/<%=session[:id]%>/friends">My friends</a></td>
          <td class="nav_bar_space"></td>
          <td><a href="/users/recommendations">Our Recommendations</a></td>
          <td class="nav_bar_space"></td>
          <td><a href="/earn">Get Ad Points</a></td>
          <td class="nav_bar_space"></td>
          <td><a href="/movies/searchForm">Search for movies</a></td>
          <td class="nav_bar_space"></td>
          <td><a href="/users/logout">Logout</a></td>
          </tr>
        </table>
<% end %>
      </div>
      <%= yield %>
   </body>
</html>